<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="PropertiesConfig"></Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{MM/dd/yy hh:mm:ss a}  [%-5p] -%msg%n%ex" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- <Logger name="dslogger" level="ERROR" additivity="false">
			<appender-ref ref="LOGFILE" />
		</Logger>

		<Logger name="security" level="INFO" additivity="false">
			<appender-ref ref="SECURITY" />
		</Logger>

		<Logger name="operation" level="INFO" additivity="false">
			<appender-ref ref="OPERATION" />
		</Logger> -->

		<Root level="INFO">
			<appender-ref ref="Console" />
		</Root>
	</Loggers>
</Configuration>